*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d2cee370;
    width: 100%;
    min-height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: none;
}

/* NAVBAR */

.navBar{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgoldenrod;
    color: white;
}

/* GAME CONTAINER */

.container{
    width: 90%;
    max-width: 400px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 10px;
    margin-top: 40px;
}

/* BOXES */

.box{
    width: 30%;
    aspect-ratio: 1/1;

    background: #ccc;
    border: none;
    border-radius: 15px;

    font-size: 3rem;
    cursor: pointer;
    color: #090909;

    box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6),
                -5px -5px 10px rgba(255, 255, 255, 0.4);
}

.box:hover{
    box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.7),
                -5px -5px 10px rgba(255, 255, 255, 0.4);

    filter: brightness(1.05);
}

/* RESET BUTTON */

.reset{
    margin-top: 30px;
    padding: 12px 25px;

    background-color: rgba(89, 21, 248, 0.927);
    color: white;

    font-size: 1rem;
    border: none;
    border-radius: 15px;

    cursor: pointer;
}

.reset:hover{
        background-image: linear-gradient(to right,#ffa500 , #ff0000 );
}

/* NEW GAME BUTTON */

.newGame{
    margin-top: 20px;
    padding: 15px 25px;

    background-color: #1f3ce2b0;
    color: white;

    font-size: 1rem;
    border-radius: 15px;
    border: none;

    cursor: pointer;
    display: none;
}

.newGame:hover{
    background-image: linear-gradient(to right,#ffa500 , #ff0000 );
}

/* MESSAGE */

.msg-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 30px;

    font-size: 2rem;
    text-align: center;
}

/* IMAGE */

.msg-container img{
    width: 180px;
    max-width: 80%;
}

/* MOBILE RESPONSIVE */

@media (max-width: 600px){

    .box{
        font-size: 2rem;
    }

    .msg-container{
        font-size: 1.5rem;
    }
}